* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --fc-white: #ffffff;
  --fc-gray: #c4c4cc;
  --light-green: #02799d;
}
