* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
  transition: all 0.2s ease;
}

:root {
  --hue: 240;
  --fc-white: hsl(0, 0%, 100%);
  --fc-gray: hsl(var(--hue), 7%, 78%);
  --fc-title-content: hsl(var(--hue), 9%, 89%);
  --light-green: hsl(194, 98%, 31%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: absolute;
  left: 0;
  top: 0;
}

header nav {
  display: flex;
  align-items: center;
  padding: 4rem 7.2rem;
  gap: 4.3rem;
}

header nav ul {
  display: flex;
  gap: 5.3rem;
}

header nav ul li a {
  font-size: 2.1rem;
  line-height: 2.2rem;
  color: var(--fc-gray);
  font-weight: 400;
}

header nav ul li a:hover,
header nav ul li a.active {
  cursor: pointer;
  color: var(--fc-white);
  font-weight: 700;
}

body.home {
  background-image: url(../images/home.png);
}

#app .home {
  position: absolute;
  top: 29.4rem;
  left: 44rem;
}

.title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 125%;
  color: var(--fc-title-content);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.home button {
  padding: 1.2rem 3.2rem;
  background: transparent;
  text-transform: uppercase;
  color: var(--fc-white);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  border: 2px solid var(--fc-white);
  border-radius: 0.5rem;
}

.home button:hover {
  cursor: pointer;
  background: var(--fc-white);
  color: var(--light-green);
}

body.universe {
  background-image: url(../images/universe.png);
}

#app .universe,
#app .explorer {
  position: absolute;
  top: 18.5rem;
  left: 10.2rem;
}

.universe,
.explorer {
  max-width: 64.8rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.universe p,
.explorer p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 160%;
  color: var(--fc-title-content);
}

body.explorer {
  background-image: url(../images/explorer.png);
}
